.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.mypage-txt {
  float: right;
}

.intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
}

.nav-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 10;
}