.like-videocard {
    margin-bottom: 40px;
    width: 270px;
}

.like-videocard-thumbnail {
    height: 140px;
    width: 250px;
}

.like-videocard-info {
    display: flex;
    width: 250px;
    margin-top: 10px;
    padding-right: 30px;
    padding-left: 10px;
}

.like-video-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5px;
}

.like-video-icon {
    width: 18px;
    height: 18px;
}

.like-video-text > * {
    margin: 0;
}

.like-video_text > h4 {
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
}

.like-video_text > p {
    font-size: 14px;
    color: rgb(63, 63, 63);
}

@media only screen and (max-width: 767px) {
    .like-videocard {
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }

    .like-videocard-thumbnail {
        width: 100%;
        height: 100%;
    }

    .like-videocard-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 10px;
        padding: 0;
    }

    .like-video-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}
