.myuploadvideo-box {
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* background-color: #f9f9f9; */
    /* padding: 40px 20px; */
    padding-bottom: 0;
    position:relative;
    top: 80px;
}

.title {
    position: relative;
    top: 80px;
    
}

.mylikevideo-title {
    width: 380px;
}

.likevideocard-box {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 23px; */
}

.mylikevideo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* @media only screen and (max-width: 767px) {
    .mylikevideo-box {
        box-sizing: border-box;
        border: 1px solid black;
        background-color: #f9f9f9;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .videocard-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    
    }
} */