.mypage-box {
    position: relative;
}

.mypage-backImage-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
  }

.mypage-backImage {
    position: relative;
    border-radius: 40px;
  }

.mypage-title {
    position: absolute;
    top: 8%;
    left: 39.5%;
}

.mypage-title-txt {
    width: 300px;
}

.mypage-content-box {
    position: absolute;
    top: 60%;
    left: 24.5%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 50%;
}

.mypage-myinfo-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.mypage-myupload-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.mypage-mylike-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}


.mypage-myinfo-txt {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px 0px, rgba(0, 0, 0, 0.24) 0px 0px 5px 0px;
    background-color: #f1c40e;
    border-radius: 40px;
    width: 140px;
    min-width: 140px;
    height: 140px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    cursor: pointer;
    /* margin-right: 40px; */
}
  

.mypage-myupload-txt {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px 0px, rgba(0, 0, 0, 0.24) 0px 0px 5px 0px;
    background-color: #f1c40e;
    border-radius: 40px;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 750;
    cursor: pointer;
    /* margin: 0 40px; */
}

.mypage-mylike-txt {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px 0px, rgba(0, 0, 0, 0.24) 0px 0px 5px 0px;
    background-color: #f1c40e;
    border-radius: 40px;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 750;
    cursor: pointer;
    /* margin-left: 40px; */
}

.btnbox:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 8px 8px
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'SBAggroM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SBAggro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

/* @media only screen and (max-width: 767px) {
    

 }  */