.myuploadvideo-box {
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* background-color: #f9f9f9; */
    /* padding: 40px 20px; */
    padding-bottom: 0;
    position:relative;
    top: 80px;
}

.myvideos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
  top: 80px;
  
}

.myvideo-title {
  width: 380px;
}

.uploadvideocard-box {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 23px; */
}

