
.upload-videocard_thumbnail {
  /* width: 80%;
  height: 80%; */
  border-radius: 12px;

}

.upload-videocard_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 5px; */
    /* margin-top: 10px; */
    /* padding-right: 30px; */
    /* padding-left: 10px; */
}

.upload-video_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    padding-bottom: 7px;
    margin-top: 3px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f1c40e;
    /* padding-left: 25px; */
}

.upload-video-like-icon {
    width: 70px;
    height: 25px;
    margin-right: 5px;
}

.upload-video_text > * {
    margin: 0;
}

.upload-video_text > h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

.upload-video_text > p {
    font-size: 15px;
    color: rgb(60, 60, 60);
}
/* 
@media only screen and (max-width: 767px) {
    /* .upload-videocard {
        margin-bottom: 40px;
        width: 100%;
    } */

    /* .upload-videocard-video {
        width: 100%;
        height: 100%;
    } */

    /* .upload-videocard-thumbnail {
        width: 100%;
        height: 100%;
    } */

    /* .upload-videocard_info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        padding: 0;
    }

    .upload-video_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    } */
/* } */ 