.categorycaontainer2 {
  position: relative;
  display: flex;
  justify-content: center;
  top: 0px;
  margin-left: 0px;
  z-index: 9;
  background-color: rgb(100, 100, 100, 0.1);
  border-radius: 10px;
  width: 680px;
  height: 60px;
}

.category-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0px;
  color: rgb(39, 39, 39);
}

.categoryinbox {
  display: flex;
  justify-content: space-evenly;
}

.categoryinbox > div {
  flex:1;
}

.uploadTitle {
  position: relative;
  top: 80px;
}

.uploadTitle-text {
  width: 25vw;
}

.filebox{
  /* padding-right:255px ; */
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.filebox label {
    display: flex;
    /* padding: 20px; */
    color: #999;
    vertical-align: middle;
    /* line-height:600px; */
    height: 32vw;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #f1c40e;
    border-radius: 20px;
    /* width: 525px;
    height: 300px; */
    justify-content: center;
    align-items: center;
    /* align-items: center;
    justify-content: center; */
}


.upload-name {
    display: inline-block;
    vertical-align: middle;
  height: 35px;
  font-size:18px; 
  padding-top: 10px;
  padding: 0px 10px;

    background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-radius: 5px;

}
.upload-title {
    display: inline-block;
    vertical-align: middle;
  height: 35px;
  font-size:18px; 
  padding-top: 10px;
  padding: 0 10px;

    background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-radius: 5px;



}

.addfile{
  
    display: inline-block;
    vertical-align: middle;
}




.upload_title{
    padding-top: 5px;
    display: inline-block;
    vertical-align: middle;
}

.videoInfo{
  padding-top: 5px;
       display: inline-block;
    vertical-align: middle;

}

.currentmenu{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

.uploadBtn{
    display: inline-block;
    vertical-align: middle;
}


#canvas{

  display: flex;
  position: absolute;
}

#video{
  opacity: 0;
  display: none;
  width: 255px;
  height: 140px;
}

.upload-holder{
  padding-top: 3px;
}


@media only screen and (max-width: 768px) {
  .filebox label {
    height: 50vw;
}
  .uploadTitle-text {
    width: 40vw;
  }
} 