/* .filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}  */
.filebox{

}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #999;
    vertical-align: middle;
    line-height:600px;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: 700px;
    height: 600px;
}


.upload-name {
    display: inline-block;
    vertical-align: middle;
  height: 35px;
  font-size:18px; 
  padding: 0 10px;

    background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-radius: 5px;

}
.upload-title {
    display: inline-block;
    vertical-align: middle;
  height: 35px;
  font-size:18px; 
  padding: 0 10px;

    background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-radius: 5px;



}

.addfile{
    display: inline-block;
    vertical-align: middle;
}




.upload_title{
    display: inline-block;
    vertical-align: middle;
}

.videoInfo{
    display: inline-block;
    vertical-align: middle;

}

.currentmenu{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

.uploadBtn{
    display: inline-block;
    vertical-align: middle;
}


/* #canvas{
 display: none; 
}

#video{
  opacity:0; 
  width: 255px;
  height: 140px;
} */