.videopage2-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .videopage2-videobox {
    margin-top: 25px;
    align-items: center;
  }
  
  .video2-info-container {
    text-align: center;
    /* width: 52.5%; */
    font-size: 17px;
    margin-top: 10px;
    border-top: 2px solid #f1c40e;
    border-bottom: 2px solid #f1c40e;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video2-first-row { 
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 5px;
    padding: 5px;
  }

  .video2-first-row-category {
    color: rgb(60, 60, 60);
    font-size: 15px;
    font-weight: 500;
    margin-right: 6px;
  }

  .video2-first-row-title {
    font-size: 22px;
    font-weight: 600;
    color: black;
  }

  .video2-first-row-view-createdAt {
    color: rgb(60, 60, 60);
    font-size: 15px;
    font-weight: 500;
  }

  .video2-second-row{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px;
  }

  .video2-second-row-like-delete {
    display: flex;
    justify-content: space-between;
  }

  .like-icon {
    width: 55px;
    height: 25px;
    margin-right: 7px;
}

  .delete-icon {
    width: 25px;
    height: 25px;
    margin-right: 3px;
  }
  
  .user-icon {
    width: 25px;
    height: 25px;
    margin-right: 3px;
  }
  
  .delete-myvideo {
    margin-left: 15px;
  }
  
  .delete-myvideo:hover {
    color: rgb(255, 75, 75)
  }
  
  .video2-second-row-creator {
      color: black;
      font-size: 18px;
      font-weight: 500;
  }
  
  .btn2 {
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-weight: 500;
  }
  
    