.categorycaontainer {
    position: relative;
    display: flex;
    margin-left: 18px;
    padding-right: 10px;
    z-index: 9;
    background-color: rgb(100, 100, 100, 0.1);
    border-radius: 20px;
    height: 60px;
}

.category-row {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: rgb(39, 39, 39);
}
 
 .category-btn {
    background-color: rgb(110, 191, 223, 0.3);
    border-radius: 45px;
    border: 0;
    width: 50px;
    margin-left: 15px;
}

.category-box {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   width: 250px;
}

@media only screen and (max-width: 768px) {
   .categorycaontainer {
      height: 120px;
  }

  .category-box {
   width: 150px;
}
} 