.categorycaontainer {
    position: absolute;
    display: flex;
    top: 204px;
    margin-left: 18px;
    z-index: 9;
    background-color: rgb(100, 100, 100, 0.1);
    border-radius: 45px;
    width: 680px;
    height: 40px;
}

.category-row {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-left: 15px;
   color: rgb(39, 39, 39);
}

.category-row input {
   margin: 0 10px;
}
 
 .category-btn {
    background-color: rgb(110, 191, 223, 0.3);
    border-radius: 45px;
    border: 0;
    width: 50px;
    margin-left: 15px;
}