@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'SBAggroM';
  font-weight:bold;
  letter-spacing: 2px;
  font-size:48px;
}

/* .carousel {
  top: 80px;
  z-index: 1;
} */

#carouselExampleIndicators {
  margin-top: 40px;
}

#carouselExampleIndicators .carousel-indicators {
  z-index: 4;
}

.carousel-indicators button {
  color: black;
  background-color: black;
}


#carouselExampleIndicators .carousel-control-next-icon {
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

#carouselExampleIndicators .carousel-control-prev-icon {
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

#bottom-button .bottom-button{
  background-color: #56c1fe;
}


.slide-coment {
  color: black;
}


.slideContainer1 {
  width: 100%;
  height: 480px;
}
.slideContainer2 {
  width: 100%;
  height: 480px;
}

.introduce1 {
  position: relative;
  /* top: 80px; */
  /* margin-top: 40px; */
  border-radius: 50px;
  /* border: 10px solid #f1c40e; */

}

.start-ment {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.control-button {
  color: skyblue;
}

.introduce {
  position: relative;
  /* top: 80px; */
  /* padding-top: 40px; */
  /* margin-top: 40px; */
  border-radius: 40px;
  border: 4px solid #f1c40e;
}

.introduce-input {
  height: 50px;
  top:100px;
  font-size: 25px;
  padding-right: 50px;
  border-radius: 20px;
  padding-left: 15px;
  border: 4px solid #f1c40e;
  outline: 0;
  /* width: 160px; */
}

#carouselExampleIndicators .introduce-search {
  z-index: 2;
  top: 65%;
  position: absolute;
  left: 25%;
  padding: 0;
} 

.introduce-search {
  z-index: 2;
  top: 65%;
  position: absolute;
  /* width: 100%; */
} 

#carouselExampleIndicators .search-icon {
  width: 20px;
  height: 26px;
  top: 11px;
  right: 13px;
}

.introduce-search-icon {
  width: 20px;
  height: 26px;
  top: 11px;
  right: 13px;
  position: absolute;
}

.inner-header {
  height:45vh;
  width:100%;
  margin: 0;
  padding: 80px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'SBAggroM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SBAggro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


  @media (max-width: 768px) {
    .introduce-input {
      height: 35px;
      top:100px;
      font-size: 18px;
      padding-right: 50px;
    }
    .introduce-search-icon {
      width: 16px;
      height: 20px;
      top: 8px;
      right: 13px;
    }

    #bottom-button .bottom-button  {
      display: none;
    }

    #carouselExampleIndicators .carousel-control-next-icon {
      height: 1.5rem;
      width: 1.5rem;
    }
    
    #carouselExampleIndicators .carousel-control-prev-icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  @media (max-width: 460px) {
    #carouselExampleIndicators .carousel-control-next-icon {
      height: 0.8rem;
      width: 0.8rem;
    }
    
    #carouselExampleIndicators .carousel-control-prev-icon {
      height: 0.8rem;
      width: 0.8rem;
    }
  }