/* @media screen and (min-width: 768){
    .videocontainer{
        flex-direction: row;
    }
} */

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
  top: 80px;
}
  
.main-title {
  width: 25vw;
}

.category-container-box {
  display: flex;
}

 .categorycontainer{
    display: flex;
    margin-top: 80px;

} 

 .categorycontainer2{
    display: flex;
    margin-left: 18px;
} 

.videocontainer{
    
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
}

.currentmenu_category{
    /* margin-left: 2rem; */
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 16px;
    background-color: rgb(100, 100, 100, 0.1);
    border-radius: 45px;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(39, 39, 39);
}
.addbox{
    
    display: flex;
    color:rgb(110, 191, 223);
    font-size:40px;
    margin-left :10px;
    cursor: pointer;
}

.videocontainer-box {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){
  .main-title {
    width: 40vw;
  }
} 




