/* @media screen and (min-width: 768){
    .videocontainer{
        flex-direction: row;
    }
} */

 .categorycontainer{
    padding-left: 5px;
    padding-top: 100px;
    display: flex;
} 

.videocontainer{
    
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
}

.currentmenu{
    /* margin-left: 2rem; */
    border: 1px solid black;
    
}

/* @media screen and (min-width: 769px){
    .videocontainer{
        margin-left: 2rem;
        margin-right: 2rem;
        align-items: flex-start;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 3rem;
    }
}  */

