/* @media screen and (min-width: 768){
    .videocontainer{
        flex-direction: row;
    }
} */

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
    position: relative;
    top: 80px;
}
  
  .main-title {
    width: 380px;
}

 .categorycontainer{
    display: flex;
} 

 .categorycontainer2{
    display: flex;
    margin-top: 30px;
} 

.videocontainer{
    
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
}

.currentmenu_category{
    /* margin-left: 2rem; */
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 16px;
    background-color: #f1c40e;
    border-radius: 45px;
    width: 100px;
    height: 40px;
    box-shadow:3px 3px  gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    
}
.addbox{
    
    display: flex;
    color:rgb(110, 191, 223);
    font-size:40px;
    margin-left :10px;
    text-shadow:2px 2px gray;
    margin-top: 50px;
    cursor: pointer;
}

.videocontainer-box {
    display: flex;
    flex-wrap: wrap;
}

/* @media screen and (min-width: 769px){
    .videocontainer{
        margin-left: 2rem;
        margin-right: 2rem;
        align-items: flex-start;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 3rem;
    }
}  */




