.myInfo-modalbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);  
    z-index: 1050;
  }
  
  .myInfo-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 500px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin: 100px auto;
    padding: 20px;
    background: #fff;   
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px;
    border: 7px solid rgb(41,131,197, 0.5);
  }

  .myInfo-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 380px;
    height: 380px;
    margin: 30px 30px;
    font-family: 'SBAggroM';
    /* font-size: 35px; */
  }

  .myInfo-modal-username {
    font-size: 20px;
    /* margin: 10px; */
  }

  .myInfo-modal-useremail {
    font-size: 20px;
    /* margin: 10px; */
  }

  .myInfo-modal-inputbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .current-password {
    ;
  } */

  
  /* .close {
    float: right;
    font-size: 25px;
    color: #F05C69;
    cursor: pointer
  } */

  @font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'SBAggroM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@media only screen and (max-width: 480px) {
  .myInfo-modal {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    border: 0;
  }
 } 