@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.search-input {
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 30px;
  border: 4px solid #f1c40e;
  outline: 0;
  /* width: 160px; */
}

.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #f1c40e;
  height: 100%;

}

.navContainer{
    /* margin: 0px 20px 0px 20px; */
    /* padding: 0% 6% 0% 7%; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */

    top: 0px;
    background-color: white;
    /* border-bottom: 1px solid black; */
    /* background-color: pink; */
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000;

}

.container{
  padding: 0px;
}

.navbar_left{
    align-items: center;
    display: flex;
    
}
.navbar_right{
    align-items: center;
    display: flex;
} 
.menu {
    font-family:  'Noto Sans KR', sans-serif;
    font-size: 16px;
    display: flex;
    list-style: none;
    margin: 0px;
}

.menu:hover {
  cursor: pointer;
}

 .mypage{
padding: 8px 12px 
 }
 
.category{
  font-family:  'Noto Sans KR', sans-serif;
  font-size: 16px;
  padding: 8px 12px; 
 }

 .category-login {
  padding: 0px 2px; 
 }

.postvideo{
padding: 8px 12px 

  }
.searchbox{
  font-family:  'Noto Sans KR', sans-serif;
  font-size: 16px;
  padding: 8px 12px 
 }

.searchbox:hover {
  cursor: pointer;
}

.signup{
  font-family:  'Noto Sans KR', sans-serif;
  font-size: 16px;
  /* padding: 8px 14px; */
  margin-left: 5px;
  /* border: 4px solid black; */
  /* background-color: #f1c40e; */
  /* border-radius: 30px; */
}

.signout{
  font-family:  'Noto Sans KR', sans-serif;
  font-size: 16px;
  /* padding: 5px 6px 6px 6px; */
  margin-left: 5px;
  /* border: 4px solid black; */
  /* background-color: #f1c40e; */
  /* border-radius: 30px; */
}

.signup:hover {
  cursor: pointer;
}
  
 .logo{
     /* padding-left: 12px; */
     width: 50px;
     height: 50px;
 }

.menu{
    padding: 8px 0px 8px 8px;
}

.modalcontainer{
    position: absolute;
    background-color: white;
}
.seach_input_box{
    display: flex;
    position: relative;
}

.search-icon {
  height: 20px;
  width: 14px;
  position: absolute;
  right: 12px;
  top: 7px;
}

.search-icon:hover {
  cursor: pointer;
}

.logout-icon {
  height: 30px;
  width: 30px;
}

.login-icon {
  height: 30px;
  width: 30px;
}