.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);  
    z-index: 1050;
  }
  
  .loginModal {
    width: 480px;
    height: 621px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin: 50px auto;
    padding: 20px;
    background: #fff;   
    border-radius: 80px 0px 80px 0px / 80px 0px 80px 0px;
  }
  
  
  
   .close {
     float: right;
     font-size: 25px;
     color: black;
     cursor: pointer
   }
  
   .modalContents {
     box-sizing: border-box;
     margin: 0 auto;
     width: 100%;
     position: relative;
     padding: 0 20px 32px;
     display: flex;
     justify-content: center;
     flex-direction: column;
   }
  
  
        .onemin_logo {
          margin: 0 auto;
          width: 160px;
          height: 160px;
          margin-bottom: 10px;
          padding-bottom: 0;
        }
  
  
        .loginEmail {
          margin-top: 10px;
          border-radius: 2px;
          width: 100%;
          height: 40px;
          border: 1px solid #e5e5e5;
          padding: 9px 12px;
          outline: none;
          box-sizing: border-box;
        }
        input::placeholder {
          color: #999999;
        }
        .loginPassword {
          margin-top: 15px;
          border-radius: 2px;
          width: 100%;
          height: 40px;
          border: 1px solid #e5e5e5;
          padding: 9px 12px;
          box-sizing: border-box;
        }
  
        .loginBtn {
          height: 40px;
          font-size: 14px;
          padding: 13px 30px;
          cursor: pointer;
          background-color: black;
          color: white;
          line-height: 1px;
          margin-top: 20px;
          margin-bottom: 12px;
          border-radius: 3px;
          border-style: none;
        }
  
         .socialBox {
          margin-bottom: 30px;
        }
          .kakao {
            background-color: #feec34;
            border-color: #feec34;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            margin-bottom: 10px;
            border-radius: 3px;
            cursor: pointer
          }
            .kakaoText {
              width: 300px;
              font-size: 15px;
              text-align: center;
              display: inline-block;
              box-sizing: border-box;
            }
            .kakaoLogo {
                position: absolute;
                left: 48px;
                width: 35px;
                height: 35px;
              }

          .google {
            background-color: none;
            border: 1px solid rgb(124, 124, 124);
            height: 40px;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            color: rgb(0, 0, 0);
            border-radius: 3px;
            cursor: pointer
          }
            .googleText {
              padding-top: 12px;
              width: 310px;
              color: rgb(0, 0, 0);
              font-size: 15px;
              text-align: center;
              box-sizing: border-box;
            }
            .googleLogo {
              padding-top: 7px;
              width: 25px;
              height: 25px;
            } 
  
        .loginEnd {
          text-align: center;
          font-size: 11px;
        }
  
          .loginLine {
            color: #bcbcbc;
            font-size: 11px;
            margin-bottom: 35px;
            cursor: pointer
          }
  
            a {
              color: black;
              text-decoration: underline;
              cursor: pointer;
            }
          
          .noUser {
            text-decoration: underline;
          }