.signup-modal-box {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-modal {
    width: 480px;
    height: 620px;
    background-color: white;
    border: 10px solid #f1c40e;

    position: relative;
    box-sizing: border-box;
    /* margin: 50px auto; */
    padding: 20px;
    background: #fff;   
    border-radius: 80px;
  }
  
  
  
   .signup-modal-close {
     float: right;
     font-size: 25px;
     color: black;
     cursor: pointer
   }
  
   .signup-modal-contents {
     box-sizing: border-box;
     margin: 0 auto;
     width: 100%;
     position: relative;
     padding: 20px 32px;
     display: flex;
     justify-content: center;
     flex-direction: column;
   }
  
  
        .onemin_logo {
          margin: 0 auto;
          width: 100px;
          height: 100px;
          margin-bottom: 30px;
          padding-bottom: 0;
        }

        .signup-username {
            border-radius: 2px;
            width: 100%;
            height: 40px;
            border: 1px solid #e5e5e5;
            padding: 9px 12px;
            outline: none;
            box-sizing: border-box;
          }
  
  
        .signup-email {
          margin-top: 15px;
          border-radius: 2px;
          width: 100%;
          height: 40px;
          border: 1px solid #e5e5e5;
          padding: 9px 12px;
          outline: none;
          box-sizing: border-box;
        }

        .signup-password {
          margin-top: 15px;
          border-radius: 2px;
          width: 100%;
          height: 40px;
          border: 1px solid #e5e5e5;
          padding: 9px 12px;
          box-sizing: border-box;
        }

        input::placeholder {
            color: #999999;
          }
  
        .signup-button {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
          height: 40px;
          font-size: 14px;
          padding: 13px 30px;
          cursor: pointer;
          background-color: rgb(20, 20, 20);
          color: white;
          line-height: 1px;
          margin-top: 20px;
          margin-bottom: 12px;
          border-radius: 3px;
          border-style: none;
        }

        .signup-button:hover {
          color: #F05C69;
        }

        .errorMessege {
          color: red;
          font-size: 14px;
          background-color: #f8d7da;
          border-color: #f5c6cb;
          position: relative;
          padding: 6px 0px;
          border: 1px solid transparent;
          border-radius: 0.25rem;
          margin: 0;
        }
  
        