.imgcontainer{
   width: 100%;
}
.img{
    width: 100%;
}

.videocard {
    margin-bottom: 40px;
    width: 270px;
}

.upload-video_text {
  display: flex;
  flex-direction: column;
}

.upload-video_text > p {
  display: flex;
  justify-content: flex-start;
}


.upload-video_text h4 {
  left: 0;
  margin-bottom: 7px;
}

.upload-video-like-icon {
    padding-left: 5px;
}

.viewtxt {
    font-weight: 500;
}

@media screen and (min-width: 769px){
    .allvideocontainer{
        width: 100%;
     }
     
} 

/* @media screen and (min-width: 480px)and(max-width:768px){ 
    .imgcontainer{
       width: 100%;
    }
    .img{
        width: 100%;
    }
    }
    @media screen and (min-width: 769px){
        .imgcontainer{
            width: 30%;
         }
         .img{
             width: 30%;
         }
    } */